.wrapper{
    display: flex;
    height: 35px;
}

.inputstyle{
    height: 85%;
    width: 22rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.button{
    height: 100%;
    padding:5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}